{% load static %}
<!DOCTYPE html>

<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Zametki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Стили Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Скрипт jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock scripts %}
</head>

<body class="h-100 d-flex flex-column">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand ms-3" href="#">Zametki</a>
    </nav>

    <div class="container flex-grow-1">
        {% block content %}{% endblock content %}
    </div>
    <!-- Скрипт Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
