{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'zametki/main.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <div class="mb-4 d-flex flex-row">
                <h2 class="me-auto">Заметки</h2>
                <div class="btn-group">
                    <button class="btn btn-outline-primary" onclick="onMic()" id="mic_btn"><i class="bi bi-mic"></i></button>
                    <button class="btn btn-primary" onclick="onAddNote()">Добавить</button>
                </div>
            </div>
            <div id="note_list_container">
                <ul class="list-group">
                    {% for note in notes %}
                        {{ note.html|safe }}
                        {#<li class="list-group-item" data-id="{{ note.id }}" data-text="{{ note.text }}" {% if note.audio %}data-src="{{note.audio.file.url}}"{% endif %}>#}
                        {#    {% if note.audio %}<i class="bi bi-volume-up-fill"></i> {% endif %}{{ note.text }}#}
                        {#</li>#}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col h-100 d-flex flex-column">
            <div class="mb-4 d-flex flex-row ">
                <h2 class="me-auto">Редактировать</h2>
                <button class="btn btn-danger mx-2" onclick="onDeleteNote()">Удалить</button>
                <button class="btn btn-primary" onclick="onSaveNote()">
                    <span class="spinner-border spinner-border-sm d-none" id="spinner"></span>
                    Сохранить
                </button>
            </div>
            <div class="d-flex flex-row mb-3" id="audio">
                <audio></audio>
                <button class="btn btn-outline-primary ms-3 d-none" onclick="onTranscribeNote()" id="transcribeButton">
                    <span class="spinner-border spinner-border-sm d-none" id="spinner2"></span>
                    Распознать
                </button>
            </div>
            <textarea class="form-control flex-grow" name="content" id="textarea"></textarea>
        </div>
    </div>
{% endblock content %}

